<!DOCTYPE html>
<html>
<head>
  <title >
    Register
  </title>
  <style>
    body { font-family: Arial; padding: 20px;  background: #f5f2f0; }
    form { max-width: 400px; margin: 30px auto; background: #f4eae4;; padding: 20px; border-radius: 10px; box-shadow: 0 2px 5px rgba(0,0,0,0.1); }
    input, button { width: 90%; padding: 10px; margin: 10px auto; display: block;  }
    .error { color: red; margin-bottom: 10px; }
  </style>
</head>
<body>
  <%- include('partials/header', { isAuthenticated }); %>

  <form action="/register" method="POST">
   <h1 style="text-align: center; font-family: Arial, Helvetica, sans-serif;">Register</h1>

    <% if (error) { %>
      <p class="error"><%= error %></p>
    <% } %>

    <input type="text" name="name" placeholder="Full Name" required />
    <input type="email" name="email" placeholder="Email" required />
    <input type="password" name="password" placeholder="Password" required />

    <button type="submit">Register</button>

    <p>Already have an account? <a href="/login">Login</a></p>
  </form>
</body>
</html>
